---
import { Image } from '@astrojs/image/components';
import ContentColor from '~/components/widgets/ContentColor.astro';

import bottom from '~/assets/images/about/bottom.jpeg';
import left from '~/assets/images/about/left.jpeg';
import right from '~/assets/images/about/right.jpeg';
---

<ContentColor title="Our Story" id="about" color="pink">
	<Fragment slot="lead">
		Bluff’s Little Thinkers Educational Childcare Center is a licensed childcare facility in Sergeant Bluff, Iowa.
		Bluff’s Little Thinkers, also known as BLT, opened its doors in October 2013.
	</Fragment>
	<div class="container m-auto md:px-6">
		<div class="space-y-6 md:space-y-0 lg:flex lg:flex-row md:gap-6 lg:items-center lg:gap-12">
			<div class="space-y-6 mb-12 lg:w-6/12">
				<div class="space-y-12 text-2xl font-semibold text-center">
					<div>
						<h3 class="text-3xl">Our Mission</h3>
						<p class="mt-1 text-2xl">
							To provide a stimulating early childhood environment and educational experience which promotes each
							child’s social, emotional, physical, and cognitive development. Our goal is to support every child’s
							desire to become a lifelong learner.
						</p>
					</div>
					<div>
						<h3 class="text-3xl">Our Philosophy</h3>
						<p class="mt-1 text-2xl">
							We take pride in providing care for children from 6 weeks to 5 years of age. We focus on the child's
							development as a whole, the child within their family, and the community.
						</p>
					</div>
				</div>
			</div>
			<!-- images -->
			<div class="grid grid-cols-5 grid-rows-4 gap-4 mx-auto md:mt-8 md:w-10/12 lg:w-6/12">
				<div class="col-span-2 row-span-2">
					<Image
						src={left}
						width={768}
						height={768}
						alt="baby in bouncer"
						class="w-full h-full object-cover object-center rounded-lg shadow-md shadow-gray-500"
					/>
				</div>
				<div class="col-span-3 row-span-2">
					<Image
						src={right}
						width={360}
						height={281}
						alt="kids at table"
						class="w-full h-full object-cover object-center rounded-lg shadow-md shadow-gray-500"
					/>
				</div>
				<div class="col-span-3 row-span-2 row-start-3 col-start-2">
					<Image
						src={bottom}
						width={616}
						height={426}
						alt="kids class photo"
						class="w-full h-full object-cover object-center rounded-lg shadow-md shadow-gray-500"
					/>
				</div>
			</div>
		</div>
	</div>
</ContentColor>
