---
import ContentPattern from '~/components/widgets/ContentPattern.astro';
---

<ContentPattern title="Contact Us" id="contact" pattern="wiggles" color="purple">
	<Fragment slot="lead">Questions, suggestions? We'd love to hear from you!</Fragment>
	<div class="container flex sm:flex-nowrap flex-wrap">
		<div class="md:w-1/2 sm:mr-10 flex flex-col">
			<div
				class="bg-[#FF81A3] mb-4 flex flex-wrap md:flex-row text-center justify-center py-6 rounded shadow shadow-black"
			>
				<div class="px-6">
					<address class="">
						<h2 class="title-font font-semibold text-white tracking-widest">ADDRESS</h2>
						<p class="mt-1 text-[#321A81] font-bold tracking-wide">306 1st St #3, Sergeant Bluff, IA 51054</p>
					</address>
					<h2 class="title-font font-semibold text-white tracking-widest mt-2">PHONE</h2>
					<p class="mt-1 text-[#321A81] font-bold"><a href="tel:+7129432603">(712) 943-2603</a></p>
				</div>
				<div class="px-6">
					<h2 class="title-font font-semibold text-white tracking-widest mt-2">FAX</h2>
					<p class="mt-1 text-[#321A81] font-bold"><a href="fax:+7129432603">(712) 943-2928</a></p>
					<h2 class="title-font font-semibold text-white tracking-widest mt-2">EMAIL</h2>
					<a class="mt-1 text-[#321A81] font-bold tracking-wide" href="mailto:kelseyandersenteach@gmail.com"
						>kelseyandersenteach@gmail.com</a
					>
				</div>
			</div>

			<div
				class="bg-gray-300 h-full rounded-lg overflow-hidden p-10 flex items-end justify-start relative shadow shadow-black"
			>
				<iframe
					width="100%"
					height="100%"
					class="absolute inset-0 h-full"
					frameborder="0"
					title="map"
					marginheight="0"
					marginwidth="0"
					scrolling="no"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2946.3246791184615!2d-96.36304728448934!3d42.3995307791841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x878dff0eb4585019%3A0xd75ca2ba48d3521e!2sBLUFF'S%20LITTLE%20THINKERS!5e0!3m2!1sen!2sus!4v1665860836409!5m2!1sen!2sus"
					style="filter: contrast(1.2) opacity(0.8);"></iframe>
			</div>
		</div>

		<form
			name="Contact Us"
			action="/contact-success"
			method="POST"
			data-netlify="true"
			class="md:w-1/2 flex flex-col md:ml-auto w-full md:py-4 mt-8 md:mt-0"
		>
			<div class="relative mb-4">
				<label for="name" class="leading-7 text-md font-semibold text-gray-600">Name</label>
				<input
					type="text"
					id="name"
					name="name"
					minlength="3"
					maxlength="25"
					class="w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
				/>
			</div>
			<div class="relative mb-4">
				<label for="email" class="leading-7 text-md font-semibold text-gray-600">Email</label>
				<input
					type="email"
					id="email"
					name="email"
					class="w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
				/>
			</div>
			<div class="relative mb-4">
				<label for="tel" class="leading-7 text-md font-semibold text-gray-600">Phone</label>
				<input
					type="tel"
					id="phone"
					name="phone"
					class="w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
				/>
			</div>
			<div class="relative mb-4">
				<label for="message" class="leading-7 text-md font-semibold text-gray-600">Message</label>
				<textarea
					id="message"
					name="message"
					class="w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
				></textarea>
			</div>
			<button
				type="submit"
				class="shadow shadow-black text-white font-semibold bg-[#FF81A3] border-0 py-2 px-6 focus:outline-none hover:bg-[#eb6085] rounded text-lg"
				>Submit</button
			>
		</form>
	</div>
</ContentPattern>
