---
import { Icon } from 'astro-icon';
import ContentColor from '~/components/widgets/ContentColor.astro';

const items = [
	[
		{
			question: 'What are your hours of operation?',
			answer: `BLT is currently open 6:00 am-5:30 pm Monday-Friday.
			We provide our holiday closure schedule a year in advance.
			In case of inclement weather, BLT follows the local Sergeant Bluff-Luton School District for closures and delays.`,
		},
		{
			question: 'How is daily communication handled?',
			answer: `Bluff’s Little Thinkers utilizes a childcare management software system called Playground. Parents have an app that has a news feed that keeps them up to date on all classroom happenings daily. Playground also allows parents the ability to private chat administrators. Playground utilizes a calendar feature where you can find all holiday closures, any notifications of special events and any other dates that parents would need to know. We also utilize this system for invoice pay. Parents are able to see invoices both current and past and access any recorded payments at the click of a button on their smartphones. Parents also clock their children in and out daily in the lobby via a personal pin code. We prioritize our parents being up to date on all happenings within our center and feeling included in all classroom events.`,
		},
	],
	[
		{
			question: 'How do your meals work?',
			answer: `Here at BLT, your meals are included in your weekly tuition cost. We serve breakfast, A.M. snack, lunch and P.M. snack. We participate in the Child and Adult Care Food Program, which ensures your child is getting nutritional balanced meals. We get our lunch catered daily by Aggies, our local catering company but all other meals are handled by our staff. During summer months we take full advantage of our local farmers market by purchasing produce and meat from local vendors. Doing this allows us to support them but as well give our children access to locally grown foods that are as healthy as they are delicious.`,
		},
		{
			question: 'How does preschool work?',
			answer: `Here at BLT we provide access to a Statewide Voluntary Preschool Program classroom. We partner with the Sergeant Bluff-Luton school district to provide this service to our families. Our partnership allows our families to have access to a certified school district teacher during preschool hours but also allows them to have surround care outside of those hours. Preschool hours are Monday, Tuesday, Thursday and Friday from 8:15 A.M. -11:00 A.M. Children must turn 4 years of age on or before September 15th of the enrolling school year.`,
		},
	],
];
---

<!-- color="bg-gradient-to-b from-cyan-50 to-cyan-200" -->
<ContentColor title="FAQ" id="faq" color="purple">
	<Fragment slot="lead">You've got questions, we've got answers.</Fragment>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<class class="mb-4 text-2xl font-bold">
									<Icon name="mdi:chat-question" class="w-7 h-7 text-blue-600 inline-block icon-bold" />
									{question}
								</class>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-lg font-semibold my-2 indent-8" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</ContentColor>
