---
import { Icon } from 'astro-icon';
import ContentColor from '~/components/widgets/ContentColor.astro';

const items = [
	[
		{
			question: 'What are your hours of operation?',
			answer: `BLT is currently open 6:00 am-5:30 pm Monday-Friday.
			
			We provide our holiday closure schedule a year in advance.
			
			In case of inclement weather BLT follows the local the Sgt Bluff Lutton School District closures.`,
		},
		{
			question: 'How is daily communication handled?',
			answer: `BLT utilizes a Childcare management software system called Playground.
			Parents have an app that has a news feed that keeps them up to date on all classroom happenings along with the ability to private chat administrators. It as well has a calendar feature where you can find all holiday closures , any notifications of special events, and any special circumstances. We utilize this system for all things BLT including bill pay. Parents clock their children in and out daily in the lobby via a personal pin code as well. `,
		},
	],
	[
		{
			question: 'How does your meals work?',
			answer: `Here at BLT your meals are built into your weekly tuition cost. We serve breakfast, am snack , lunch, and P.M. snack. We are on the Child and Adult Care Food Program, which insures your child is getting nutritional meals. We get our daily lunches from local catering company Aggies but all other meals are done by our staff.  During summer months we take advantage of our local farmers market by buying produce and meat from local vendors. Doing this allows us to support them but as well as give our kids access to locally grown foods that are as healthy as their are delicious. `,
		},
		{
			question: 'How does preschool work?',
			answer: `Here at BLT we provide access to a State Wode Voluntary Preachool Program classroom. We partner with the Sgt Bluff Lutton school district to provide this service to our families. Our partnership allows our families to have access to a SBL school district teacher for preschool hours but allows them to have surround care outside of those hours. Children must he 4 on or before September 15th of the enrolling school district year. Parents will have to enroll with both us and the SBL school district and select BLT classroom in the online registration forms.`,
		},
	],
];
---

<!-- color="bg-gradient-to-b from-cyan-50 to-cyan-200" -->
<ContentColor title="FAQ" id="faq" color="purple">
	<Fragment slot="lead">
		You've got <span class="text-blue-600">questions</span>, we've got <span class="text-purple-600">answers</span>.
	</Fragment>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-2">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<class class="mb-4 text-xl font-bold text-blue-600">
									<Icon name="mdi:chat-question" class="w-7 h-7 text-blue-600 inline-block icon-bold" />
									{question}
								</class>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-purple-700 text-lg font-semibold my-2 indent-8" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</ContentColor>
