---
const items = [
	[
		{
			title: 'Integration with Tailwind CSS',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Ready-to-use Components',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Best Practices',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
	[
		{
			title: 'Excellent Page Speed',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Frequently updated',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
		{
			title: 'Open to new ideas and contributions',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
		},
	],
];

import Picture from '~/components/core/Picture.astro';
---
<section id="intro" class="relative scroll-mt-16 px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl bg-[#e1b7fe] rounded-t-lg">
	<div class="px-4 pb-16 mx-auto max-w-6xl lg:px-8">
		<div class="flex flex-col items-center gap-4 space-y-8">
			<h2
				class="text-6xl font-extrabold tracking-wide text-center font-['AwesomeNewbie']"
			>
				Our Story
			</h2>
		</div>
		<p class="max-w-xl text-2xl font-extrabold text-center">
			Our focus is to provide a stimulating early childhood care and educational experience which promotes each child’s social, emotional, physical, and cognitive development. Our goal is to support children’s desire to become lifelong learners.
		</p>
		<slot />
	</div>
</section>
<!-- 
<section id="interesting" class="relative scroll-mt-16" >
	<div class="px-4 pb-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-[#e1b7fe] dark:bg-slate-800">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Features</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				What's interesting about <span
					class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 whitespace-nowrap"
					>AstroWind</span
				>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa
				quae.
			</p>
		</div>
	</div>
</section> -->
