---
import { Icon } from 'astro-icon';
import { getHomePermalink } from '~/utils/permalinks';
---

<footer>
	<div style="" class="-mt-24">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-full -mb-0.5" viewBox="0 0 1367.743 181.155">
			<path
				class="fill-purple-200 text-gray-200"
				id="wave"
				data-name="wave"
				d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
				transform="translate(1.743 66.155)"></path>
		</svg>
	</div>
	<div class="pt-1 bg-gradient-to-b from-purple-200 via-purple-100 to-white">
		<div class="m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
			<div class="grid grid-cols-8 gap-6 md:gap-0">
				<div class="border-r col-span-8 lg:col-span-3">
					<div class="block gap-6 items-center justify-between py-6 md:py-0 md:flex md:space-y-6 lg:block">
						<!-- <a class="inline-block font-bold text-3xl text-[#321A81]" href={getHomePermalink()}>
							Bluff's Little Thinkers
						</a> -->
						<Icon name="wordmark" class="h-6 inline-block" />
						<div class="flex gap-6">
							<a
								class="text-[#2E8E00] dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label="Twitter"
								href="#"
							>
								<Icon name="tabler:brand-twitter" class="w-7 h-7" />
							</a>
							<a
								class="text-[#087BB8] dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label="Instagram"
								href="#"
							>
								<Icon name="tabler:brand-instagram" class="w-7 h-7" />
							</a>
							<a
								class="text-[#FF81A3] dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label="Facebook"
								href="https://www.facebook.com/bluffsthinkers/"
								target="_blank"
							>
								<Icon name="tabler:brand-facebook" class="w-7 h-7" />
							</a>
						</div>
					</div>
				</div>
				<div class="col-span-8 lg:col-span-5">
					<div class="py-8 grid grid-cols-2 gap-6">
						<div class="text-center">
							<h6 class="text-2xl font-medium text-[#321A81]">Site</h6>
							<ul class="list-inside mt-4 space-y-4 text-[#321A81]">
								<li>
									<a href="#" class="hover:text-[#097BB8] transition">Home</a>
								</li>
								<li>
									<a href="#about" class="hover:text-[#097BB8] transition">About</a>
								</li>
								<li>
									<a href="#prices" class="hover:text-[#097BB8] transition">Prices</a>
								</li>
								<li>
									<a href="#facility" class="hover:text-[#097BB8] transition">Facility</a>
								</li>
								<li>
									<a href="#contact" class="hover:text-[#097BB8] transition">Contact</a>
								</li>
							</ul>
						</div>
						<div class="text-center">
							<h6 class="text-2xl font-medium text-[#321A81]">Resources</h6>
							<ul class="list-inside mt-4 space-y-4 text-[#321A81]">
								<li>
									<a href="https://www.naeyc.org/"
								target="_blank" class="hover:text-[#097BB8] transition">NAEYC for families</a>
								</li>
								<li>
									<a href="https://www.Iowaccrr.org/"
								target="_blank" class="hover:text-[#097BB8] transition">Iowa child care resource & referral</a>
								</li>
								<li>
									<a href="https://www.dhs.Iowa.gov/"
								target="_blank" class="hover:text-[#097BB8] transition">Iowa DHS for families</a>
								</li>
								<li>
									<a href="/weatherwatch.pdf"
								target="_blank" class="hover:text-[#097BB8] transition">Childcare Weather Watch</a>
								</li>
								<li>
									<a href="https://www.facebook.com/bluffsthinkers/"
								target="_blank" class="hover:text-[#097BB8] transition">Careers with BLT</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="pb-8 py-4 md:pl-16 border-t flex justify-between">
						<span
							>&copy; Virgos Design
							<span id="year">2022</span>
						</span>
						<span>All right reserved</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
