---
import { Icon } from 'astro-icon';
import { getHomePermalink, getPermalink } from '~/utils/permalinks';
---

<footer>
	<div style="" class="-mt-28">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-full -mb-0.5" viewBox="0 0 1367.743 181.155">
			<path
				class="fill-purple-200 text-gray-200"
				id="wave"
				width="100"
				data-name="wave"
				d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
				transform="translate(0 66.155)"></path>
		</svg>
	</div>
	<div class="pt-10 bg-gradient-to-b from-purple-200 via-purple-100 to-white">
		<div class="m-auto px-6 space-y-8 text-gray-500 md:px-12 lg:px-20">
			<div class="grid grid-cols-8">
				<div class="md:border-r col-span-8 lg:col-span-3">
					<div class="flex flex-wrap gap-6 items-center justify-center md:justify-between md:py-0 lg:block">
						<a class="inline-block font-bold text-3xl text-[#321A81]" href={getHomePermalink()}>
							<Icon name="icon" class="h-8 hidden sm:inline-block" />
							<Icon name="wordmark" class="h-6 sm:h-8 inline-block" />
						</a>
						<div class="flex">
							<a
								class="text-[#FF81A3] hover:text-pink-500 focus:outline-none focus:ring-4 focus:ring-gray-200 inline-flex items-center"
								aria-label="Facebook"
								href="https://www.facebook.com/bluffsthinkers/"
								target="_blank"
							>
								<div class="text-xl font-bold text-center">
									<Icon name="tabler:brand-facebook" class="w-8 h-8 mr-2 inline-block my-auto" />
									<span>Please like and follow us on Facebook!</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-span-8 lg:col-span-5">
					<div class="py-8 grid grid-cols-2 gap-6">
						<div class="text-center">
							<h6 class="text-2xl font-medium text-[#321A81]">Site</h6>
							<ul class="list-inside mt-4 space-y-4 text-[#321A81]">
								<li>
									<a href="#" class="hover:text-[#097BB8] transition">Home</a>
								</li>
								<li>
									<a href="#about" class="hover:text-[#097BB8] transition">About</a>
								</li>
								<li>
									<a href="#prices" class="hover:text-[#097BB8] transition">Prices</a>
								</li>
								<li>
									<a href="#facility" class="hover:text-[#097BB8] transition">Facility</a>
								</li>
								<li>
									<a href="#contact" class="hover:text-[#097BB8] transition">Contact</a>
								</li>
							</ul>
						</div>
						<div class="text-center mr-10">
							<h6 class="text-2xl font-medium text-[#321A81]">Resources</h6>
							<ul class="list-inside mt-4 space-y-4 text-[#321A81]">
								<li>
									<a href="https://www.naeyc.org/" target="_blank" class="hover:text-[#097BB8] transition"
										>NAEYC for families</a
									>
								</li>
								<li>
									<a href="https://www.Iowaccrr.org/" target="_blank" class="hover:text-[#097BB8] transition"
										>Iowa child care resource & referral</a
									>
								</li>
								<li>
									<a href="https://www.dhs.Iowa.gov/" target="_blank" class="hover:text-[#097BB8] transition"
										>Iowa DHS for families</a
									>
								</li>
								<li>
									<a href="/weatherwatch.pdf" target="_blank" class="hover:text-[#097BB8] transition"
										>Childcare Weather Watch</a
									>
								</li>
								<li>
									<a href={getPermalink('apply')} class="hover:text-[#097BB8] transition">Join our team</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="pb-8 py-4 md:pl-16 border-t flex justify-between">
						<span
							>&copy; Virgos Design
							<span id="year">2022</span>
						</span>
						<span>All rights reserved</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
