---
import { Icon } from 'astro-icon';
import ToggleMenu from '~/components/core/ToggleMenu.astro';
---

<header id="header" class="fixed top-0 z-40 flex-none mx-auto w-full">
	<div class="py-3 px-3 mx-auto w-full lg:flex lg:justify-between lg:px-4">
		<div class="flex justify-between">
			<a id="brand" aria-label="logo" class="invisible items-center gap-3 flex" href="#">
				<h1 class="sr-only">Bluff's Little Thinkers</h1>
				<Icon name="icon" class="h-7 sm:hidden" />
				<Icon name="monogram" class="h-10 sm:hidden" />
				<Icon name="wordmark" class="hidden h-10 sm:block" />
			</a>
			<div class="flex items-center lg:hidden">
				<a
					id="static-contact"
					class="text-xl tracking-wide font-extrabold text-white hover:scale-110 px-4 py-3 flex items-center transition duration-150 ease-in-out"
					href="#contact"
				>
					<Icon name="ic:round-connect-without-contact" class="w-8 h-8 pr-1" />
					Contact Us!</a
				>
				<ToggleMenu />
			</div>
		</div>
		<nav
			id="nav"
			class="items-center w-full lg:w-auto hidden lg:flex text-white h-screen lg:h-auto"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 lg:pt-0 lg:flex-row lg:self-center w-full lg:w-auto text-xl lg:text-xl">
				<li>
					<a
						data-nav-link
						class="font-bold hover:text-[#321A81] justify-center lg:justify-none text-3xl lg:text-xl px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#facility">Facility</a
					>
				</li>
				<li>
					<a
						data-nav-link
						class="font-bold hover:text-[#321A81] justify-center lg:justify-none text-3xl lg:text-xl px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#prices"
						>Pricing
					</a>
				</li>
				<li>
					<a
						data-nav-link
						class="font-bold hover:text-[#321A81] justify-center lg:justify-none text-3xl lg:text-xl px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#faq">FAQ</a
					>
				</li>
				<li>
					<a
						data-nav-link
						class="font-bold hover:text-[#321A81] justify-center lg:justify-none text-3xl lg:text-xl px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="#contact">Contact</a
					>
				</li>
				<li class="lg:hidden">
					<a
						class="font-bold hover:text-[#321A81] justify-center lg:justify-none text-3xl lg:text-xl px-4 py-3 flex items-center transition duration-150 ease-in-out"
						href="https://www.facebook.com/bluffsthinkers/"
						target="_blank"
					>
						<Icon name="tabler:brand-facebook" class="w-7 h-7" />
						Facebook
					</a>
				</li>
			</ul>
			<div class="lg:self-center flex items-center mb-4 lg:mb-0 ml-2">
				<div class="hidden items-center lg:flex">
					<a
						href="https://www.facebook.com/bluffsthinkers/"
						target="_blank"
						class="inline-block focus:outline-none text-sm p-2.5 hover:text-[#321A81]"
						aria-label="Bluff's Little Thinkers Facebook"
					>
						<Icon name="openmoji:facebook" class="w-8 h-8" />
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
