---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
/* import { Picture, Image } from '@astrojs/image/components'; */
import HeroImage from '~/assets/images/hero_medium.png';
---

<section id="hero" class="relative bg-gradient-to-b from-pink-100 via-pink-50 to-white">
	<div class="z-20 pt-8 lg:pt-14 px-4 lg:px-8 grid h-full sm:grid-cols-2 place-items-center">
		<div class="mx-auto h-full flex flex-col self-end sm:gap-4 sm:self-auto sm:justify-self-end">
			<div class="mb-8 sm:mb-0">
				<div class="flex justify-center">
					<Icon name="logomark" class="h-40 md:h-56 lg:h-64" />
				</div>
				<div class="mb-2">
					<p class="text-lg md:text-2xl lg:text-3xl text-center font-bold text-[#321A81] whitespace-nowrap">
						Learning Today, Leading Tomorrow.
					</p>
				</div>
				<!-- <div class="flex justify-center">
					<button
						type="button"
						title="enroll today"
						class="max-w-xs md:max-w-full py-3 px-8 text-center rounded-full transition bg-[#321A81] hover:bg-yellow-100 active:bg-yellow-400 focus:bg-yellow-300 sm:w-max"
					>
						<span class="block text-white font-bold text-md"> Enroll Today!</span>
					</button>
				</div> -->
			</div>
		</div>
		<div class="">
			<Picture src={HeroImage} class="-mb-[11.7%]" widths={[]} sizes=" " alt="Hero Image" />
		</div>
	</div>
</section>
<!-- <span class="inline sm:hidden">.</span>
	<span class="hidden sm:inline">Text to disappear on small screens</span> -->
