---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import Foo from '~/assets/images/hero_gap_fill.svg';
---

<section id="hero" class="relative">
	<div class="z-20 mt-14 mx-auto max-w-6xl lg:px-8 grid h-full sm:grid-cols-2 place-items-center">
		<div class="ml-4 flex flex-col self-end sm:gap-4 sm:self-auto sm:justify-self-end">
			<h2
				class="font-['AwesomeNewbie'] text-5xl md:text-6xl text-center font-bold leading-tighter tracking-wide mb-4 font-heading sm:whitespace-nowrap sm:-mr-[45%] xl:whitespace-normal lg:mr-0"
			>
				<div class="text-[#321A81]">Learning Today,</div>
				<div class="text-[#321A81]">Leading Tomorrow.</div>
			</h2>
		</div>
		<Picture src={Foo} class="-mb-[11%]" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="Hero Image" />
	</div>
</section>

<!-- <span class="inline sm:hidden">.</span>
	<span class="hidden sm:inline">Text to disappear on small screens</span> -->
