---
import { Icon } from "astro-icon";
import ContentSection from "~/components/widgets/ContentSection.astro";
---

<ContentSection title="Our Story" id="intro" styles='bg-[#e1b7fe]'>
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Bluff’s Little Thinkers was founded in 1975, with a mission to provide quality early childhood education to Siouxland by promoting each child’s individual social, emotional, physical, and cognitive development. Our goal is to support children’s desire to become lifelong learners.
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
</ContentSection>
