---
import ContentPattern from '~/components/widgets/ContentPattern.astro';
/* import Picture from '~/components/core/Picture.astro'; */
import { Picture } from '@astrojs/image/components';
import playground from '~/assets/images/facility/playground_1.jpg';
import Image from '~/assets/images/steps.jpg';
import classroom from '~/assets/images/facility/classroom_1.jpg';
---

<ContentPattern title="Our Facility" id="facility" pattern="dots" color="pink">
	<Fragment slot="lead">
		Located conviently on first street and directly across from the local Primary School building in Sgt Bluff, Iowa you
		can find BLT! Our facility was extensively renovated in 2021 into 2022. The goal of these renovations was to create
		a child focused facility that lets our children grow and develop and be their best. Our facility includes 5
		beautiful classrooms, over 6,000 square feet of playground for children as little as 6 months, and a sensory room
		for children with special and unique needs.
		<!--  <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> -->
	</Fragment>
	<!-- <div class="px-6 text-gray-600 md:px-12">
		<div class="grid lg:grid-cols-2 gap-6">
			<div class="bg-purple-200 border border-opacity-10 rounded-3xl shadow-xl p-8">
				<div class="space-y-4 sm:space-y-0 sm:flex sm:space-x-8">
					<div class="relative sm:w-5/12">
						<Picture
							class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
							src={import('~/assets/images/facility/playground_1.jpg')}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="432:768"
						/>
					</div>
					<div class="space-y-4 py-4 sm:w-7/12">
						<h3 class="text-2xl font-semibold text-gray-800">Newly Rennovated Classrooms</h3>
						<p>
							Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
							officia sed officiis! Incidunt ea animi officiis.
						</p>

						<ul class="ml-5 space-y-2 list-disc list-outside">
							<li>Search Engine Optimization</li>
							<li>Responsive Design</li>
							<li>User friendly</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="relative">
				<div
					aria-hidden="true"
					class="absolute inset-0 rounded-xl bg-pink-300 shadow-xl transition duration-300 group-hover:scale-105 lg:group-hover:scale-110"
				>
				</div>
				<div class="relative text-center space-y-4 p-6 md:p-8">
					<img
						src="images/avatars/trowel.png"
						class="w-16 m-auto"
						width="512"
						height="512"
						alt="package-delivery illustration"
					/>
					<h4 class="text-2xl text-gray-800 font-medium transition group-hover:text-yellow-800">Close to the metal</h4>
					<p class="text-gray-600">
						Neque Dolor, alias quae, quibusdam accusantium, laudantium recusandae tenetur fugiat non cum doloribus
						aperiam voluptates nostrum.
					</p>
				</div>
			</div>
			<div class="bg-purple-200 border border-opacity-10 rounded-3xl shadow-xl p-8">
				<div class="space-y-4 sm:space-y-0 sm:flex sm:space-x-8">
					<div class="space-y-4 py-4 sm:w-7/12">
						<h3 class="text-2xl font-semibold text-gray-800">Sensory Room</h3>
						<p>
							Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
							officia sed officiis! Incidunt ea animi officiis.
						</p>

						<ul class="ml-5 space-y-2 list-disc list-outside">
							<li>Search Engine Optimization</li>
							<li>Responsive Design</li>
							<li>User friendly</li>
						</ul>
					</div>
					<div class="relative sm:w-5/12">
					<Picture
							class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
							src={import('~/assets/images/facility/sensory_1.jpg')}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="432:768"
						/>
					</div>
				</div>
			</div>
			<div class="bg-lime-200 border border-opacity-10 rounded-3xl shadow-xl p-8">
				<div class="space-y-4 sm:space-y-0 sm:flex sm:space-x-8">
					<div class="relative sm:w-5/12">
						<Picture
							class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
							src={import('~/assets/images/facility/playground_1.jpg')}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="432:768"
						/>
					</div>
					<div class="space-y-4 py-4 sm:w-7/12">
						<h3 class="text-2xl font-semibold text-gray-800">Amazing Outdoor Playground</h3>
						<p>
							Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
							officia sed officiis! Incidunt ea animi officiis.
						</p>
						<ul class="ml-5 space-y-2 list-disc list-outside">
							<li>Search Engine Optimization</li>
							<li>Responsive Design</li>
							<li>User friendly</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="m-auto text-gray-500 md:px-12 xl:px-0">
		<div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
			<div class="bg-pink-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-4">
					<h3 class="text-2xl font-semibold text-purple-900">Rennovated Classrooms</h3>
					<p class="mb-6">
						Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
						officia sed officiis! Incidunt ea animi officiis.
					</p>
					<a href="#" class="block font-medium text-purple-600">Know more</a>
				</div>
				<Picture
					src={classroom}
					widths={[200, 400, 800]}
					sizes="(max-width: 800px) 100vw, 800px"
					alt="descriptive text"
				/>
			</div>
			<div class="bg-lime-200 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-4">
					<h3 class="text-2xl font-semibold text-purple-900">New Playground</h3>
					<p class="mb-6">
						Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
						officia sed officiis! Incidunt ea animi officiis.
					</p>
					<a href="#" class="block font-medium text-purple-600">Know more</a>
				</div>
				<img
					src="/images/playground_1.jpg"
					class="rounded-md"
					alt="illustration"
					loading="lazy"
					width="900"
					height="600"
				/>
				<!-- <Picture
							class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
							src={import('~/assets/images/facility/playground_1.jpg')}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio=""
						/> -->
			</div>
			<div class="bg-purple-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-4">
					<h3 class="text-2xl font-semibold text-purple-900">Sensory Room</h3>
					<p class="mb-6">
						Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
						officia sed officiis! Incidunt ea animi officiis.
					</p>
					<a href="#" class="block font-medium text-purple-600">Know more</a>
				</div>
				<img
					src="/images/sensory_1.jpg"
					class="rounded-md"
					alt="illustration"
					loading="lazy"
					width="900"
					height="600"
				/>
			</div>
		</div>
	</div>
</ContentPattern>
