---

---
<div class="bg-green-100">
	<svg xmlns="http://www.w3.org/2000/svg" class="w-full -mb-0.5" viewBox="0 0 1367.743 181.155">
		<path
			class="fill-purple-200"
			id="wave"
			data-name="wave"
			d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
			transform="translate(1.743 66.155)"></path>
	</svg>
</div>
