---
import { Icon } from 'astro-icon';
import ContentPattern from '~/components/widgets/ContentPattern.astro';
import Picture from '~/components/core/Picture.astro';

const items = [
	{
		icon: 'ant-design:trophy-filled',
		color: 'FF81A3',
		title: 'Commitment to Excellence',
		description:
			'FOO Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
	},
	{
		icon: 'mdi:shield-home',
		color: '087BB8',
		title: 'Security',
		description:
			'BAR Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
	},
	{
		icon: 'fluent:building-retail-24-filled',
		color: '2E8E00',
		title: 'Facility',
		description:
			'Our recently rennovated state-of-the-art facility ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
	},
	{
		icon: 'mdi:account-group',
		color: '321A81',
		title: 'Staff',
		description:
			'BAZ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
	},
];
---

<ContentPattern title="Why BLT" id="whyBLT" pattern="dots" color="blue">
	<Fragment slot="lead">
		We strongly believe there's a thousand reasons to make us part of your family, but here's a few:
	</Fragment>
	<div class="flex flex-col px-4 md:px-8 gap-6 row-gap-10 lg:flex-row">
		<div class="md:pt-6 lg:mt-12 xl:mt-0 md:pb-6 md:pr-8 max-w-3xl mx-auto">
			{
				items.map((item) => (
					<div class="flex">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div
									class={`flex items-center justify-center w-12 h-12 rounded-full bg-white/40 border-[#087BB8] border-2`}
								>
									<Icon name={item.icon} class={`w-7 h-7 text-[#${item.color}] icon-bold`} />
								</div>
							</div>
							<div class="w-0.5 h-full bg-[#087BB8]" />
						</div>
						<div class="pt-1 pb-8">
							<p class={`mb-2 text-2xl md:text-3xl lg:text-4xl font-bold`}>{item.title}</p>
							<p class="text-lg md:text-xl font-semibold">{item.description}</p>
						</div>
					</div>
				))
			}
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-12 h-12 rounded-full border-[#087BB8] border-2">
							<Icon name="tabler:check" class="w-7 h-7 text-[#321A81] icon-bold" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-2xl md:text-3xl lg:text-4xl font-bold">Enroll Today!</p>
				</div>
			</div>
		</div>

		<div class="photo-array">
			<div class="xl:hidden grid grid-cols-5 grid-rows-4 gap-4 h-fit">
				<div class="col-span-2 row-span-3">
					A
					<img
						src="images/redwhiteblue_girl.jpg"
						class="rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="960"
						alt="shoes"
						loading="lazy"
					/>
				</div>
				<div class="col-span-3 row-span-3 row-start-2 col-start-3">
					B
					<img
						src="images/bubbles_boy.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="640"
						alt="shoe"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="hidden lg:grid grid-cols-5 grid-rows-4 gap-4 h-fit mt-20">
				<div class="col-span-3 row-span-2">
					C
					<img
						src="/images/scaled.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="427"
						alt="2"
						loading="lazy"
					/>
				</div>
				<div class="col-span-2 row-span-2">
					D
					<img
						src="images/bubbles_boy.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="640"
						alt="shoe"
						loading="lazy"
					/>
				</div>
				<div class="col-span-3 row-span-2 row-start-3 col-start-2">
					E
					<img
						src="/images/scaled.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="427"
						alt="2"
						loading="lazy"
					/>
				</div>
				<!-- <div class="col-span-2 row-span-3">
				<img
					src="images/redwhiteblue_girl.jpg"
					class="rounded-xl shadow-md shadow-gray-500"
					width="640"
					height="960"
					alt="shoes"
					loading="lazy"
				/>
			</div>
			<div class="col-span-3 row-span-3 row-start-2 col-start-3">
				<img
					src="images/bubbles_boy.jpg"
					class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
					width="640"
					height="640"
					alt="shoe"
					loading="lazy"
				/>
			</div> -->
			</div>
		</div>
	</div>
</ContentPattern>
