---
import Layout from '~/layouts/BaseLayout.astro';

const fieldGroups = [
	{
		name: 'name',
		prompt: 'What is your name?',
		fields: [
			{ name: 'fname', label: 'First', reqired: true, type: 'text', id: 'fname', minlenth: '3', maxlength: '25' },
			{ name: 'mname', label: 'Middle', required: false, type: 'text', id: 'mname', minlenth: '3', maxlength: '25' },
			{ name: 'lname', label: 'Last', required: true, type: 'text', id: 'lname', minlenth: '3', maxlength: '25' },
		],
		//Follow up question "Do you go by any other names?"
		//Radio Yes/No
		//If yes, text input for allias
		default: true,
	},
	{
		name: 'contact',
		prompt: 'How may we contact you?',
		fields: [
			{ name: 'phone', label: 'Phone', required: true, type: 'tel', id: 'phone' },
			{ name: 'email', label: 'Email', required: true, type: 'email', id: 'email' },
		],
		//Follow up question "Do you prefer email or phone contact?"
		//Radio Phone/Email
	},
	{
		name: 'address',
		prompt: 'What is your home address?',
		fields: [
			{ name: 'add1', label: 'Street Address', type: 'text', id: 'add1', minlength: '7', maxlength: '40' },
			{ name: 'add2', label: 'Address Line 2', type: 'text', id: 'add2', minlength: '7', maxlength: '40' },
			{ name: 'city', label: 'City', type: 'text', id: 'city', minlength: '7', maxlength: '40' },
			{ name: 'state', label: 'State', type: 'text', id: 'state', minlength: '7', maxlength: '40' },
			{ name: 'zip', label: 'Zip Code', type: 'number', id: 'zip', minlength: '5', maxlength: '5' },
		],
		//Follow up question if not in Sioux City, Sergeant Bluff, or South Sioux
		//Do you have reliable transportation?
		//Radio yes/no
	},
	{
		name: 'age-verification',
		prompt: 'Are you 18 years of age or older?',
		fields: [
			{ name: 'ageVerify', label: 'Yes', type: 'radio', id: 'over18', value: 'yes' },
			{ name: 'ageVerify', label: 'No', type: 'radio', id: 'over18', value: 'no' },
		],
		//If No, alert they are not old enough for employment
	},
	{
		name: 'date-of-birth',
		prompt: 'Please enter your date of birth.',
		fields: [{ name: 'dateOfBirth', label: 'Birthdate', type: 'date', id: 'dob' }],
	},
	{
		name: 'citizenship',
		prompt: 'Are you a citizen of the United States?',
		fields: [
			{ name: 'citizenship', label: 'Yes', type: 'radio', id: 'citizen', value: 'yes' },
			{ name: 'citizenship', label: 'No', type: 'radio', id: 'citizen', value: 'no' },
		],
	},
	{
		name: 'referral',
		propmt: 'How did you hear about this position?',
		fields: [
			{
				name: 'referral',
				label: 'Source',
				type: 'select',
				id: 'referallSource',
				options: [
					{ value: 'facebook', text: 'Facebook' },
					{ value: 'employee', text: 'Employee' },
				],
			},
		],
		//Follow up if employee: Name of employee who referred you:
		//text input
	},
	{
		name: 'previous-childcare-exp',
		prompt: 'Have you worked in childcare previously?',
		fields: [
			{ name: 'previousExp', label: 'Yes', type: 'radio', id: 'previousExp', value: 'yes' },
			{ name: 'previousExp', label: 'No', type: 'radio', id: 'previousExp', value: 'no' },
		],
		//Follow up if yes: What is the name and location of previous facility?
		//text input
	},
];
---

<Layout>
	<div
		class="min-h-screen"
		style={`background-color: #ffffff;
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23BAE6FD' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");`}
	>
		<div class="container max-w-5xl mx-auto p-4 md:p-8 lg:p-12">
			<progress class="progress progress-primary w-full px-8" value="15" max="100"></progress>
			<!-- Info view -->
			<div
				class="bg-white my-7 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
			>
				Form
			</div>
			<!-- Questions -->
			<div
				class="bg-white my-7 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
			>
				{
					fieldGroups.map((group) => (
						<div
							id={`${group.name}-card`}
							class={`flex flex-col place-content-center p-6 pt-8 pb-20 space-y-8 sm:w-7/12 sm:pb-6 ${
								group.default || 'hidden'
							}`}
						>
							{group.prompt}
							<>
								{group.fields.map((field) => {
									return (
										<div>
											<label for={field.name}>{field.label}</label>
										</div>
									);
								})}
							</>
						</div>
					))
				}
			</div>
		</div>
	</div>
</Layout>
