---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth md:scroll-auto 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>
	<body class="antialiased text-blue-900 tracking-tight bg-white">
		<script
			async
			defer
			crossorigin="anonymous"
			src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0"
			nonce="EbHqNImH"
		></script>
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
