---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth md:scroll-auto 2xl:text-[20px] bg-white">
	<head>
		<MetaTags {...meta} />
	</head>
	<body class="antialiased text-blue-900 tracking-tight">
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
